@import "../utilities/variables.scss";
@import "../modules/m-about-us-picture.scss";

.l-about-us {
  margin-bottom: 110px;
  p {
    width: 100%;
    max-width: 955px;
    margin: 0 auto 78px auto;
    font-size: 15px;
    color: $color-font-descriptiion;
    text-align: center;
    line-height: 24px;
    @media screen and(max-width: 1200px) {
      width: 80%;
    }
  }
}