@import "../utilities/variables.scss";
@import "../modules/m-slider.scss";

.l-header-banner {
  height: 100%;
  background: linear-gradient(to top,
          rgba(252, 227, 138, 0.9) 0%,
          rgba(243, 129, 129, 0.9) 100%),
          url('../img/header-bg.jpg');
  background-size: cover;
  margin-bottom: 87px;
  &__slider {
    .slider-main {
      text-align: center;
      .slider-main__slide {
        h3 {
          font-size: 72px;
          color: $white-font-color;
          margin-top: 210px;
          margin-bottom: 28px;
          @media screen and(max-width: 1024px) {
            font-size: 6vmax;
          }
        }
        h2 {
          font-size: 150px;
          line-height: 140px;
          color: $white-font-color;
          font-weight: 700;
          letter-spacing: -5px;
          text-transform: uppercase;
          &::after {
            display: block;
            //position: absolute;
            content: "";
            width: 60px;
            height: 3px;
            background-color: $white-font-color;
            margin: 55px auto 50px auto;
          }
          @media screen and(max-width: 1024px) {
            font-size: 15vmax;
            line-height: 20vmax;
          }
          @media screen and(max-width: 768px) {
            font-size: 10vmax;
            line-height: 14vmax;
          }
        }
      }
    }
  }
}
