@import "../utilities/variables.scss";

.l-features {
  width: 100%;
  height: 745px;
  padding-top: 105px;
  background: $transparent-color-bg url("../img/features-bg.jpg");
  background-blend-mode: lighten;
  background-size: cover;
  .m-text {
    margin-top: 0px;
  }
}