@import "../base/base";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    //align-items: center;
  }
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    //align-items: center;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        padding-left: 35px;
        &:first-child {
          padding-left: 0;
        }
        a:not(.icon) {
          padding-bottom: 10px;
          font-size: 14px;
          border-bottom: 3px solid $full-transparent-color;
          &:hover {
            border-bottom: 3px solid $hover-link-color;
          }
        }
        #search {
          input {
            height: 25px;
            background-color: $full-transparent-color;
            &::placeholder {
              color: $hover-link-color;
            }
          }
          input[type=search] {
            width: 30px;
            height: 20px;
            padding-left: 30px;
            background: url('../../img/magnifying-glass.svg') no-repeat 5px center;
            color: transparent;
            cursor: pointer;
            border-radius: 20px;
            transition: all 1s ease;
            &:focus {
              width: 200px;
              color: $hover-link-color;
              background-color: rgba(255, 255, 255, 0.3);
              transition: all 1s ease;
              cursor: auto;

            }
          }
        }
      }
    }
    @media screen and(max-width: 1024px) {
      display: none;
    }
  }
  .mobile-nav {
    display: none;
    position: relative;
    @media screen and(max-width: 1024px) {
      display: block;
    }
    .hamburger {
      position: fixed;
      top: 28px;
      width: 30px;
      height: 30px;
      z-index: 1000;
      .container {
        //position: absolute;
        cursor: pointer;
        .bar1, .bar2, .bar3 {
          width: 30px;
          height: 2px;
          background-color: white;
          margin: 7px 0;
          transition: 0.4s;
        }
      }
      .change-hamburger {
        .bar1 {
          transform: rotate(-45deg) translate(-5px, 5px);
        }
        .bar2 {
          opacity: 0;
        }
        .bar3 {
          transform: rotate(45deg) translate(-8px, -8px);
        }
      }
    }
    .mobile-ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: -75%;
      width: 75%;
      height: 100%;
      background-color: $pink-color;
      transition: all 0.3s;
      li {
        text-align: center;
        margin: 30px 40px;
        a {
          font-size: 4vmax;
        }
      }
      .shop-n-search {
        display: flex;
        justify-content: center;
        align-content: center;
        a {
          padding-right: 30px;
          font-size: 22px;
        }
        #mob-search {
          display: flex;
          align-items: flex-end;
          input {
            width: 30px;
            height: 30px;
            background-color: $full-transparent-color;
            padding-left: 4vmax;
            &::placeholder {
              color: $hover-link-color;
            }
          }
          input[type=search] {
            width: 4vmax;
            height: 4vmax;
            background: url('../../img/magnifying-glass.svg') no-repeat 5px center;
            //background-size: contain;
            font-size: 12px;
            color: transparent;
            cursor: pointer;
            border-radius: 10px;
            transition: all 1s ease;
            &:focus {
              width: 30vmax;
              padding-left: 4vmax;
              color: $hover-link-color;
              background-color: rgba(255, 255, 255, 0.3);
              transition: all 1s ease;
              cursor: auto;

            }
          }
        }
      }
    }
    .mobile-ul-active {
      right: 0;
      transition: all 0.3s;
    }
  }
}
