@import "../utilities/variables.scss";
@import "../modules/m-pics-container.scss";

.l-work {
  margin-bottom: 104px;
  .m-pics-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .middle-container {
      width: 100%;
      max-width: 960px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      margin: 0 auto;
      picture {
        max-height: 390px;
      }
      .small-container {
        display: flex;
        flex-direction: column;
        picture:not(.jellyfish) {
          max-height: 390px;
        }
        .jellyfish {
          max-height: 780px;
        }
      }
    }
  }
}
