//Colors variables
$white-font-color: #fff;
$hover-link-color: #fce38a;
$full-transparent-color: rgba(0,0,0,.0);

//Fonts variables
$headers-font: 'Montserrat', sans-serif;
$header-font-cursive: 'Kaushan Script', cursive;
//Font import
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');