@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
body {
  margin: 0;
  padding: 0;
  background-image: url("../img/header-bg.jpg");
  background-size: cover; }

header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      list-style: none; }
      header nav ul li #search span {
        color: #fff; }
        header nav ul li #search span:hover {
          color: #fce38a; }
      header nav ul li #search input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  a:hover {
    color: #fce38a;
    -webkit-transition: all 0.6s;
    transition: all 0.6s; }

h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

h2 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

h3 {
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive; }

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0); }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/header-bg.jpg");
  background-size: cover; }

header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      list-style: none; }
      header nav ul li #search span {
        color: #fff; }
        header nav ul li #search span:hover {
          color: #fce38a; }
      header nav ul li #search input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  a:hover {
    color: #fce38a;
    -webkit-transition: all 0.6s;
    transition: all 0.6s; }

h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

h2 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

h3 {
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive; }

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0); }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  header .desktop-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .desktop-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      header .desktop-nav ul li {
        padding-left: 35px; }
        header .desktop-nav ul li:first-child {
          padding-left: 0; }
        header .desktop-nav ul li a:not(.icon) {
          padding-bottom: 10px;
          font-size: 14px;
          border-bottom: 3px solid rgba(0, 0, 0, 0); }
          header .desktop-nav ul li a:not(.icon):hover {
            border-bottom: 3px solid #fce38a; }
        header .desktop-nav ul li #search input {
          height: 25px;
          background-color: rgba(0, 0, 0, 0); }
          header .desktop-nav ul li #search input::-webkit-input-placeholder {
            color: #fce38a; }
          header .desktop-nav ul li #search input:-ms-input-placeholder {
            color: #fce38a; }
          header .desktop-nav ul li #search input::-ms-input-placeholder {
            color: #fce38a; }
          header .desktop-nav ul li #search input::placeholder {
            color: #fce38a; }
        header .desktop-nav ul li #search input[type=search] {
          width: 30px;
          height: 20px;
          padding-left: 30px;
          background: url("../img/magnifying-glass.svg") no-repeat 5px center;
          color: transparent;
          cursor: pointer;
          border-radius: 20px; }
          header .desktop-nav ul li #search input[type=search]:focus {
            width: 200px;
            color: #fce38a;
            background-color: rgba(255, 255, 255, 0.3);
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            cursor: auto; }
    @media screen and (max-width: 1024px) {
      header .desktop-nav {
        display: none; } }
  header .mobile-nav {
    display: none;
    position: relative; }
    @media screen and (max-width: 1024px) {
      header .mobile-nav {
        display: block; } }
    header .mobile-nav .hamburger {
      position: fixed;
      width: 30px;
      height: 30px;
      z-index: 1000; }
      header .mobile-nav .hamburger .container {
        cursor: pointer; }
        header .mobile-nav .hamburger .container .bar1, header .mobile-nav .hamburger .container .bar2, header .mobile-nav .hamburger .container .bar3 {
          width: 30px;
          height: 2px;
          background-color: white;
          margin: 7px 0;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
      header .mobile-nav .hamburger .change-hamburger .bar1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 5px); }
      header .mobile-nav .hamburger .change-hamburger .bar2 {
        opacity: 0; }
      header .mobile-nav .hamburger .change-hamburger .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px); }
    header .mobile-nav .mobile-ul {
      position: fixed;
      top: 0;
      right: -70%;
      width: 70%;
      height: 100%;
      background-color: #f38181;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }
      header .mobile-nav .mobile-ul li {
        margin: 30px 40px; }
    header .mobile-nav .mobile-ul-active {
      right: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/header-bg.jpg");
  background-size: cover; }

header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px; }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      list-style: none; }
      header nav ul li #search span {
        color: #fff; }
        header nav ul li #search span:hover {
          color: #fce38a; }
      header nav ul li #search input {
        border: none;
        outline: none;
        margin: 0;
        padding: 0; }

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s; }
  a:hover {
    color: #fce38a;
    -webkit-transition: all 0.6s;
    transition: all 0.6s; }

h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px; }

h2 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

h3 {
  margin: 0;
  padding: 0;
  font-family: "Kaushan Script", cursive; }

button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fff;
  outline: none;
  border: 3px solid #fff;
  background-color: rgba(0, 0, 0, 0); }

.header-banner {
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%); }
  .header-banner__text h3 {
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-top: 160px; }
    @media screen and (max-width: 1024px) {
      .header-banner__text h3 {
        font-size: 7vmax; } }
  .header-banner__text h2 {
    font-size: 150px;
    line-height: 140px;
    color: #fff;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      .header-banner__text h2 {
        font-size: 17vmax;
        line-height: 10px; } }
  .header-banner__text::after {
    display: inherit;
    content: "";
    width: 65px;
    height: 5px;
    background-color: #fff;
    margin: 70px auto 0 auto; }
  .header-banner button {
    display: block;
    margin: 50px auto 0 auto;
    width: 160px;
    height: 40px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .header-banner button:hover {
      color: #f38181;
      border: 3px solid #f38181;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
