@import "../utilities/variables";

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
}

header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px;
  nav {
    ul {
      //width: 620px;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        #search {
          //display: flex;
          //align-items: center;
          span {
            color: $white-font-color;
            &:hover {
              color: $hover-link-color;
            }
          }
        }
      }
    }
  }
}
input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: $headers-font;
  color: $white-font-color;
  transition: all 0.6s;
  &:hover {
    color: $hover-link-color;
    transition: all 0.6s;
  }
}
h1 {
  margin: 0;
  padding: 0;
  color: $white-font-color;
  font-family: $headers-font;
  font-size: 30px;
}
h2 {
  margin: 0;
  padding: 0;
  font-family: $headers-font;
}
h3 {
  margin: 0;
  padding: 0;
  font-family: $header-font-cursive;
}
button {
  font-family: $headers-font;
  font-size: 14px;
  color: $white-font-color;
  outline: none;
  border: 3px solid $white-font-color;
  background-color: $full-transparent-color;
}
p {
  margin: 0;
}