@import "../variables";

body {
  margin: 0;
  padding: 0;
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
}

header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px;
  nav {
    padding-left: 30px;
    ul {
      //width: 620px;
      margin: 0;
      padding: 0;
      li {
        padding-left: 40px;
        list-style: none;
        #search {
          //display: flex;
          //align-items: center;
          span {
            color: $white-font-color;
            &:hover {
              color: $hover-link-color;
            }
          }
          input {
            height: 25px;
            border: none;
            outline: none;
            background-color: $full-transparent-color;
            margin: 0;
            padding: 0;
            &::placeholder {
              color: $hover-link-color;
            }
          }
          input[type=search] {
            width: 30px;
            height: 20px;
            padding-left: 30px;
            background: url('../img/magnifying-glass.svg') no-repeat 5px center;
            color: transparent;
            cursor: pointer;
            border-radius: 20px;
            &:focus {
              width: 200px;
              color: $hover-link-color;
              background-color: rgba(255,255,255, 0.3);
              transition: all 1s ease;
              cursor: auto;
            }
          }

          /*
          input[type=search],input[type=submit] {
            transition: 0.3s;
            border: 1px solid $full-transparent-color;
            &:focus {
              border: 1px solid #fce38a;
            }
          }
          */
        }
      }
    }
  }
}

a {
  text-decoration: none;
  font-family: $headers-font;
  color: $white-font-color;
  transition: all 0.6s;
  &:hover {
    color: $hover-link-color;
    transition: all 0.6s;
  }
}

h1 {
  margin: 0;
  padding: 0;
  color: $white-font-color;
  font-family: $headers-font;
  font-size: 30px;
}