@import "../variables";

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
}
header {
  max-width: 62.7%;
  height: 30px;
  margin: 0 auto;
  padding-top: 30px;
  nav {
    padding-left: 30px;
    ul {
      //width: 620px;
      margin: 0;
      padding: 0;
      li {
        padding-left: 40px;
        list-style: none;
      }
    }
  }
}
a {
  text-decoration: none;
  font-family: $headers-font;
  color: $white-font-color;
  transition: all 0.6s;
  &:hover {
    color: $hover-link-color;
    transition: all 0.6s;
  }
}
h1 {
  margin: 0;
  padding: 0;
  color: $white-font-color;
  font-family: $headers-font;
  font-size: 30px;
}