//Colors variables
$white-font-color: #fff;
$hover-link-color: #fce38a;
$pink-color: #f38181;
$green-main-color: #95e1d3;
$full-transparent-color: rgba(0,0,0,.0);
$color-font-descriptiion: #999999;
//Fonts variables
$headers-font: 'Montserrat', sans-serif;
$header-font-cursive: 'Kaushan Script', cursive;
$main-font: 'Roboto', sans-serif;
//Font import
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Roboto');
