@import "../utilities/variables.scss";

.m-accordion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  .m-accordion__container {
    max-width: 600px;
    @media screen and (max-width: 1200px) {
      max-width: 572px;
    }
    @media screen and (max-width: 580px) {
      max-width: 320px;
    }
    input {
      display: none;
    }
    .dropdown-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      border: 1px solid #e5e5e5;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        i {
          color: $green-main-color;
          font-size: 30px;
          margin: 0 15px;
        }
      }
      i {
        transition: all 0.8s;
        color: #cccccc;
        margin: 0 20px;

      }
      &:hover {
        i {
          color: $yellow-hover-link-color;
        }
      }
    }
    .accordion-text {
      height: 0;
      border: 1px #e5e5e5;
      border-style: none solid none solid;
      overflow-y: scroll;
      transition: all 0.8s;
      p {
        margin: 20px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}
//Selection accordion buttons
.m-accordion {
  input:checked ~ .accordion-text {
    border-style: none solid solid solid;
    height: 180px;
  }
  input:checked ~ .dropdown-button i.fa-chevron-down {
    transition: all 0.8s;
    transform: rotate(180deg);
  }
}