@import "../utilities/variables.scss";

.m-numbers {
  width: 100%;
  max-width: 240px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white-font-color;
  border-left: 1px solid $white-opacity;
  @media screen and(max-width: 768px) {
    justify-content: flex-start;
    height: 30vw;
  }
  &:last-child {
    border-right: 1px solid $white-opacity;
  }
  &__counter {
    font-size: 72px;
    @media screen and(max-width: 768px) {
      margin-top: 3vw;
      font-size: 8vw;
    }
  }
  span {
    font-size: 14px;
    line-height: 38px;
    color: $white-font-color;
    text-transform: uppercase;
    @media screen and(max-width: 768px) {
      line-height: normal;
      font-size: 3.5vw;
      text-align: center;
    }
  }
}