@import "../utilities/variables.scss";

.middle-container {
  picture {
    position: relative;
    @media screen and(max-width: 768px) {
      width: 320px;
      height: 260px;
    }
    &::after {
      content: '';
      text-align: center;
      width: 480px;
      height: 390px;
      font-family: $main-font;
      color: $white-font-color;
      font-size: 15px;
      font-style: italic;
      //Fix positioning
      top: 0;
      //
      position: absolute;
      background-image: linear-gradient(to top,
              rgba(252, 227, 138, 0.9) 0%,
              rgba(243, 129, 129, 0.9) 100%);
      z-index: 1;
      opacity: 0;
      transition: all 1s;
      @media screen and(max-width: 768px) {
        width: 320px;
        height: 260px;
      }
    }
    &:hover {
      &::before {
        opacity: 1;
        transition: all 1s;
      }
      &::after {
        opacity: 1;
        transition: all 1s;
      }
      .m-pics-content {
        transition: all 1s;
        opacity: 1;
      }
    }
  }
  .m-pics-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    top: 42%;
    right: 33%;
    font-size: 30px;
    color: $white-font-color;
    opacity: 0;
    z-index: 10;
    i {
      margin-bottom: 10px;
    }
    span {
      font-size: 14px;
      line-height: 24px;
      color: $white-font-color;
    }
    p {
      font-size: 15px;
      line-height: 24px;
      font-style: italic;
      color: $white-font-color;
    }
    @media screen and(max-width: 768px) {
      top: 40%;
      right: 24%;
    }
  }
  .jellyfish {
    @media screen and(max-width: 768px) {
      width: 320px;
      height: 520px;
    }
    &::after {
      width: 480px;
      height: 780px;
      @media screen and(max-width: 768px) {
        width: 320px;
        height: 520px;
      }
    }
  }
}
