@import "../utilities/variables.scss";

.slider-main {
  position: relative;
  &__slide {
    button {
      display: block;
      margin: 0 auto 160px auto;
      min-width: 160px;
      height: 40px;
      transition: all 0.5s;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        color: $pink-color;
        border: 3px solid $pink-color;
        transition: all 0.5s;
      }
      &:active {
        color: $yellow-hover-link-color;
        border: 3px solid $yellow-hover-link-color;
        transition: 0s;
      }
    }
  }
}

.nav-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and(max-width: 1024px) {
    justify-content: space-around;
  }
  .nav-slider__button {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    color: $white-font-color;
    font-family: $headers-font;
    @media screen and(max-width: 1024px) {
      text-align: center;
    }
    .progress-bar {
      width: 100%;
      height: 3px;
      background-color: $white-font-color;
      .in-progress {
        background-color: $pink-color;
        width: 0;
        height: 3px;
      }
      @media screen and(max-width: 1024px) {
        display: none;
      }
    }
    p {
      margin-top: 17px;
      font-size: 18px;
      @media screen and(max-width: 1024px) {
        font-size: 5.5vw;
        margin-top: 10px;
      }
      span {
        font-weight: bold;
        font-size: 24px;
        height: 25px;
        @media screen and(max-width: 1024px) {
          font-size: 7.5vw;
        }
      }
    }
    &:active {
      color: $yellow-hover-link-color;
    }
  }
}



