@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";
@import "../base/base.scss";

.m-text {
  text-align: center;
  &::after {
    display: block;
    content: "";
    width: 65px;
    height: 5px;
    background-color: $pink-color;
    margin: 40px auto 0 auto;
  }
}